In [1]:
import numpy as np
import pandas as pd

In [6]:
data = {
    'Date': ['2025-07-01', '2025-07-02', '2025-07-03', '2025-07-04', '2025-07-05'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor', 'Keyboard'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'Units Sold': [5, 10, 7, 3, 15],
    'Unit Price': [60000, 25000, 18000, 12000, 1500],
    'Total Revenue': [5*60000, 10*25000, 7*18000, 3*12000, 15*1500]
}
df1 = pd.DataFrame(data)
df1

         Date   Product     Category  Units Sold  Unit Price  Total Revenue
0  2025-07-01    Laptop  Electronics           5       60000         300000
1  2025-07-02     Phone  Electronics          10       25000         250000
2  2025-07-03    Tablet  Electronics           7       18000         126000
3  2025-07-04   Monitor  Electronics           3       12000          36000
4  2025-07-05  Keyboard  Accessories          15        1500          22500

### GROUP

In [20]:
A = df1.groupby('Category')['Total Revenue'].sum()
A

Category
Accessories     22500
Electronics    712000
Name: Total Revenue, dtype: int64

In [12]:
B = df1.groupby(['Category','Product'])['Total Revenue'].sum()
B

Category     Product
Accessories  Keyboard     22500
Electronics  Laptop      300000
             Monitor      36000
             Phone       250000
             Tablet      126000
Name: Total Revenue, dtype: int64

### Aggeration

In [17]:
df1['Total Revenue'].agg(['sum','mean','max','min','median','count','std'])

sum       734500.000000
mean      146900.000000
max       300000.000000
min        22500.000000
median    126000.000000
count          5.000000
std       124780.006411
Name: Total Revenue, dtype: float64